# Ignore all files by default
*
.idea/
ios/
macos/
windows/
web/

# flutter_dotenv
.env
!.env_exam


# Except for the 'lib' directory and its contents
!lib/
!lib/**


# Except for the 'AndroidManifest.xml' file
!android/
!android/app/
!android/app/src/
!android/app/src/main/
!android/app/src/main/AndroidManifest.xml

!.gitignore
!pubspec.yaml
!README.md
!LICENSE